sales_forecasting/other_solution/Kaggle-Competition-Favorita/df_1617_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/cat.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/test.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/promo_1617_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/lgb.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/promo_all_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/transactions.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/lgb1.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/sample_submission.csv
Recruit Restaurant Visitor Forecasting/submission.csv
Recruit Restaurant Visitor Forecasting/data/hpg_reserve.csv
Recruit Restaurant Visitor Forecasting/data/air_reserve.csv
Recruit Restaurant Visitor Forecasting/data/air_visit_data.csv
Recruit Restaurant Visitor Forecasting/data/sample_submission.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/df_1617_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/cat.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/test.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/promo_1617_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/lgb.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/promo_all_raw
sales_forecasting/other_solution/Kaggle-Competition-Favorita/transactions.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/lgb1.csv
sales_forecasting/other_solution/Kaggle-Competition-Favorita/sample_submission.csv
sales_forecasting/lgb.csv
sales_forecasting/data/train.csv.7z
sales_forecasting/data/cat.csv
sales_forecasting/data/test.csv
sales_forecasting/data/lgb.csv
sales_forecasting/data/transactions.csv
sales_forecasting/data/lgb1.csv
sales_forecasting/data/sample_submission.csv
sales_forecasting/data/test.csv.7z
sales_forecasting/data/sample_submission.csv.7z
meituan_lasthour/best_drop_200
meituan_lasthour/ori
meituan_lasthour/best_drop_50
meituan_lasthour/fel_sel
meituan_lasthour/rs
meituan_lasthour/mx/test_data
meituan_lasthour/mx/train_data
meituan_lasthour/stack/regression/stack_data/test_iter_lgb10_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_rall_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb4_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg5_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_rall3_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb10_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_xg10_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_r1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg12_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_xg8_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_sec_lg2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_le_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg10_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_rd_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_sec_lg3_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb8_800.csv
meituan_lasthour/stack/regression/stack_data/test2018_fir.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb2_2000.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg11_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg3_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_rall2_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg4_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg13_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb8_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb10_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_el_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_sec_lg1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb10_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_rall3_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_ls_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb4_2000.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg13_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb8_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg11_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_r2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg8_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg6_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_xg3_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb2_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_r3_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg10_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_ada_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg7_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg9_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb8_2000.csv
meituan_lasthour/stack/regression/stack_data/test_iter_rall_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_rall2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_rf_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_gb_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_xg10_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_et_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg12_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg5_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_r3_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_sec_lg1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg15_800.csv
meituan_lasthour/stack/regression/stack_data/test_lgb.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg2_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb2_2018.csv
meituan_lasthour/stack/regression/stack_data/train_iter_et_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_xg8_800.csv
meituan_lasthour/stack/regression/stack_data/train_lgb.csv
meituan_lasthour/stack/regression/stack_data/train_iter_rf_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_gb_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg14_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_ls_800.csv
meituan_lasthour/stack/regression/stack_data/train2018.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg3_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_el_800.csv
meituan_lasthour/stack/regression/stack_data/test2018sec.csv
meituan_lasthour/stack/regression/stack_data/test2018.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb6_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg4_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb6_2000.csv
meituan_lasthour/stack/regression/stack_data/train2018sec.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb4_2018.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb4_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_r2_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_sec_lg2_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb4_800.csv
meituan_lasthour/stack/regression/stack_data/train2018_fir.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg14_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg6_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg8_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb2_2018.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb6_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg15_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lg9_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_ada_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lg7_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_xg3_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_r1_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_le_800.csv
meituan_lasthour/stack/regression/stack_data/train_iter_sec_lg3_800.csv
meituan_lasthour/stack/regression/stack_data/test_iter_lgb4_2018.csv
meituan_lasthour/stack/regression/stack_data/train_iter_lgb6_2000.csv
meituan_lasthour/stack/regression/stack_data/train_iter_rd_800.csv
meituan_lasthour/stack/regression/upload/out_lgb.csv
meituan_lasthour/stack/regression/upload/out1.csv
meituan_lasthour/stack/regression/upload/out3.csv
meituan_lasthour/stack/regression/upload/out2.csv
meituan_lasthour/stack/regression/upload/cv_38_0.642026666667_my_preds.csv
meituan_lasthour/stack/regression/upload/cv_0_-5.659112_my_preds.csv
meituan_lasthour/stack/regression/upload/out.csv
meituan_lasthour/stack/regression/upload/cv_0_-6.92568833333_my_preds.csv
meituan_lasthour/stack/regression/upload/cv_63_0.642879_my_preds.csv
meituan_lasthour/nohup.out
mercari-price-suggestion-challenge/input/train.tsv
mercari-price-suggestion-challenge/input/test.tsv.7z
mercari-price-suggestion-challenge/input/test.tsv
mercari-price-suggestion-challenge/input/wordbatch.zip
mercari-price-suggestion-challenge/input/wordbatch/wordbatch/models/ftrl.cpython-36m-x86_64-linux-gnu.so
mercari-price-suggestion-challenge/input/wordbatch/wordbatch/models/fm_ftrl.cpython-36m-x86_64-linux-gnu.so
mercari-price-suggestion-challenge/input/wordbatch/wordbatch/models/nn_relu_h1.cpython-36m-x86_64-linux-gnu.so
mercari-price-suggestion-challenge/input/wordbatch/wordbatch/models/nn_relu_h2.cpython-36m-x86_64-linux-gnu.so
mercari-price-suggestion-challenge/input/wordbatch/wordbatch/extractors/extractors.cpython-36m-x86_64-linux-gnu.so
mercari-price-suggestion-challenge/input/sample_submission-0.csv
mercari-price-suggestion-challenge/input/train.tsv.7z
mercari-price-suggestion-challenge/input/sample_submission-1.csv
mercari-price-suggestion-challenge/input/sample_submission.csv
mercari-price-suggestion-challenge/code/submission_wordbatch_ftrl_fm_lgb.csv
ueq/paras_300
ueq/paras
porto/kagglemix.csv
meituan_multimodel_split_by_area/best_drop_200
meituan_multimodel_split_by_area/ori
meituan_multimodel_split_by_area/best_drop_50
meituan_multimodel_split_by_area/fel_sel
meituan_multimodel_split_by_area/rs
toxic/input/李振鹏.htm
toxic/input/train.csv (3).zip
toxic/input/glove.840B.300d.txt
toxic/input/train.csv
toxic/input/李振鹏_files/bundle-578c95e6.js
toxic/input/李振鹏_files/bundle-1-ef15265d.js
toxic/input/glove840b300dtxt (1).zip
toxic/input/test.csv.zip
toxic/input/sample_submission.csv.zip
